.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wrapperChart{
  position: relative;
  width: 400px;
  margin: auto;
}
.positionAbsolute{
  position: absolute;
}
.chartCenterData{
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
}

.pM12{
  top: 0%;
  left: 50%;
  transform: translate(-50%,-0%);
}
span.pM6 {
  top: 50%;
  right: 0%;
  transform: translate(58%,-50%);
}
.aM12{
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,-0%);
}
span.aM6 {
  top: 50%;
  left: 0%;
  -webkit-transform: translate(0%,-50%);
  transform: translate(-58%,-50%);
}
span.pM3 {
  top: 16%;
  right: 7%;
  transform: translateY(-25%)
}
span.aM9 {
  top: 16%;
  left: 7%;
  transform: translateY(-25%)
}
span.pM9 {
  bottom: 16%;
  right: 7%;
  transform: translateY(-25%)
}
span.aM3 {
  bottom: 16%;
  left: 7%;
  transform: translateY(-25%)
}
.wrapperChart svg{
  margin: auto;
}
.clockTime {
  color: gray;
  font-size: 14px;
}

svg.chartSvg {
    transform: rotate(180deg);
}